<!DOCTYPE html>
<html>
  <head>
    <title>조회</title>
  </head>
  <body>
    <table border="2">
      <tr>
        <th>글 번호</th>
        <td><%=id%></td>
        <th>조회수</th>
        <td><%=hit%></td>
      </tr>
      <tr>
        <th>제품명</th>
        <td colspan="5"><%=sName%></td>
      </tr>
      <tr>
        <td colspan="6"><img src="/readimg<%=id%>" width="200" height="200"></td>
      </tr>
	  <tr>
        <td colspan="6" height="50"><%=RC1%><br /><%=RC2%><br /><%=RC3%><br /><%=RC4%><br /><%=RC5%><br /></td>
	  </tr>
      <tr>
        <td colspan="6">
          <a href="/">목록</a>
        </td>
      </tr>
    </table>
  </body>
</html>